venv/
.venv/
__pycache__/
*.pyc
data/raw/*
!data/raw/promotions/
data/raw/promotions/*
!data/raw/promotions/*.xlsx
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
.ipynb_checkpoints/
.vscode/
.idea/
data/raw/*.csv
.env
.env.*
!.env.example
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
